header {
  @include flexContainer(space-between);
  padding: 1em 1em 1.5em 1em;
  @include breakpoint(tablet, min-width) {
    padding: 1.5em 2em 1.5em 2em;
  }

  .nav-container {
    @include flexContainer(center);
    .snap-logo {
      margin-right: 3em;
    }
  }

  .login-button-container {
    display: flex;
    .user-button {
      min-width: 120px;
    }
  }
  .menu-item {
    margin-right: 2em;
  }
}
