.hero-image-section {
  @include breakpoint(tablet, min-width) {
    width: 40%;
    max-width: 480px;
  }
  .hero-image {
    width: 100%;
  }

  #hero-desktop {
    @include screenOnly(desktop);
  }

  #hero-mobile {
    @include screenOnly(mobile);
  }
}

.hero-cta-section {
  padding: 1em;
  @include flexContainer(column);
  @include breakpoint(tablet, min-width) {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: start;
    width: 60%;
    max-width: 700px;
  }
  .cta-header {
    &:after {
      content: " remote work";
      @include breakpoint(tablet, min-width) {
        display: block;
      }
    }
  }

  .cta-content {
    margin-top: 1em;
    margin-bottom: 1em;
    @include breakpoint(tablet, min-width) {
      margin-top: 2.5em;
      max-width: 65%;
      font-size: $fontMedium;
    }
  }

  .client-logo-container {
    margin-top: 1em;
    @include flexContainer(row, flex-start);

    .client-logo {
      @include breakpoint(tablet, min-width) {
        margin-right: 2em;
      }
    }
  }
}
