.hero-image-section {
  @include breakpoint(tablet, min-width) {
    width: 40%;
    max-width: 540px;
  }
  .hero-image {
    width: 100%;
  }

  #hero-desktop {
    @include screenOnly(desktop);
  }

  #hero-mobile {
    @include screenOnly(mobile);
  }
}

.hero-cta-section {
  padding: 1em;
  @include flexContainer(column);
  @include breakpoint(tablet, min-width) {
    align-items: flex-start;
    text-align: start;
    width: 60%;
    max-width: 700px;
  }
  .cta-header {
    &:after {
      content: " remote work";
      @include breakpoint(tablet, min-width) {
        display: block;
      }
    }
  }

  .cta-content {
    margin-top: 2.5em;
    margin-bottom: 1em;
    max-width: 65%;
  }

  .client-logo-container {
    margin-top: 1em;
    @include flexContainer();

    .client-logo {
      width: 25%;
      padding: 0.4em;
      height: 100%;
    }

    #audiophile {
      width: 70px;
    }
  }
}
