.sidebar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  background-color: $neutralClrWhite;
  width: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  transition: 0.7s;

  // sidebar menu
  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 1.5em;
    width: 100%;
    .menu-item {
      @include flexContainer(flex-start);
      margin-top: 1.5em;

      .menu-arrow {
        margin-left: 10px;
      }
    }
    //sidebar submenu
    .sub-menu {
      display: flex;
      flex-direction: column;
      margin-left: 1.5em;
      height: 0;
      transition: 0.7s;
      overflow-y: hidden;

      .submenu-icon {
        margin-right: 0.8em;
        height: 20px;
        width: 18px;
      }
    }
    .sub-menu.active {
      height: 60%;
    }
  }
  //sidebar buttons
  .sidebar-button-container {
    margin-top: 1em;

    #register {
      border: 1px solid $neutralClrBlack;
    }
  }
}

.sidebar.active {
  width: 60vw;
}
