.sidebar {
  @include flexContainer(column, flex-start, flex-start);
  text-align: left;
  background-color: $neutralClrWhite;
  width: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  transition: all 0.3s ease-in-out;

  // sidebar menu
  .menu {
    @include flexContainer(column, center, flex-start);
    margin-top: 2em;
    padding: 1.5em;
    width: 100%;

    .menu-item {
      @include flexContainer(row, flex-start);
      margin-top: 20px;
      min-height: 20px;

      .menu-arrow {
        margin-left: 10px;
      }
    }
    //sidebar submenu
    .sub-menu {
      @include flexContainer(column, center, flex-start);
      margin-left: 1.5em;
      height: 0;
      transition: all 0.3s ease-in-out;
      overflow-y: hidden;

      .submenu-icon {
        margin-right: 0.8em;
        height: 20px;
        width: 18px;
      }
    }
    .company.active {
      height: 120px;
    }
    .features.active {
      height: 160px;
    }
  }
  //sidebar buttons
  .login-button-container {
    margin-top: 1em;
  }
}

.sidebar.active {
  width: 60vw;
}
