@mixin flexContainer($dir: row, $justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}

@mixin breakpoint($point, $type) {
  @if $point == desktop {
    @media only screen and ($type: 1024px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and ($type: 900px) {
      @content;
    }
  } @else if $point == mobile {
    @media only screen and ($type: 600px) {
      @content;
    }
  }
}

@mixin screenOnly($screen) {
  @if $screen == desktop {
    @include breakpoint(tablet, max-width) {
      display: none !important;
    }
  } @else if $screen == mobile {
    @include breakpoint(tablet, min-width) {
      display: none !important;
    }
  }
}
