$neutralClrWhite: hsl(0, 0%, 98%);
$neutralClrGrey: hsl(0, 0%, 41%);
$neutralClrBlack: hsl(0, 0%, 8%);

$fontSmall: 16px;
$fontMedium: 18px;
$fontMain: "Epilogue", sans-serif;
$fontWeightLight: 500;
$fontWeightBold: 700;
