*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  color: hsl(0deg, 0%, 41%);
  text-align: center;
}

h1 {
  display: inline;
  font-weight: 700;
  color: hsl(0deg, 0%, 8%);
  font-size: 35px;
}
@media only screen and (min-width: 900px) {
  h1 {
    font-size: 5rem;
  }
}

p {
  line-height: 1.5;
  font-size: 16px;
}

button,
.sidebar,
header {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
}

body {
  background-color: hsl(0deg, 0%, 98%);
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
}

@media only screen and (min-width: 900px) {
  main {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding: 4em;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em 1em 1.5em 1em;
}
@media only screen and (min-width: 900px) {
  header {
    padding: 1.5em 2em 1.5em 2em;
  }
}
header .menu {
  position: relative;
}
@media only screen and (max-width: 900px) {
  header .menu {
    display: none !important;
  }
}
header .menu .sub-menu.active {
  opacity: 1;
  pointer-events: all;
}
header .menu #company {
  left: 120px;
}
header .menu .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 30px;
  left: -80px;
  gap: 1em;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
header .menu .sub-menu .submenu-icon {
  margin-right: 0.8em;
  height: 20px;
  width: 18px;
}
header .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header .nav-container .snap-logo {
  margin-right: 3em;
}
header .login-button-container {
  display: flex;
}
@media only screen and (max-width: 900px) {
  header .login-button-container {
    display: none !important;
  }
}
header .login-button-container .user-button {
  min-width: 120px;
}
header .menu-item {
  margin-right: 2em;
}

.sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  background-color: hsl(0deg, 0%, 98%);
  width: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  transition: 0.5s;
}
.sidebar .menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
  padding: 1.5em;
  width: 100%;
}
.sidebar .menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 20px;
  min-height: 20px;
}
.sidebar .menu .menu-item .menu-arrow {
  margin-left: 10px;
}
.sidebar .menu .sub-menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.5em;
  height: 0;
  transition: 0.5s;
  overflow-y: hidden;
}
.sidebar .menu .sub-menu .submenu-icon {
  margin-right: 0.8em;
  height: 20px;
  width: 18px;
}
.sidebar .menu .company.active {
  height: 120px;
}
.sidebar .menu .features.active {
  height: 160px;
}
.sidebar .login-button-container {
  margin-top: 1em;
}

.sidebar.active {
  width: 60vw;
}

@media only screen and (min-width: 900px) {
  .hero-image-section {
    width: 40%;
    max-width: 480px;
  }
}
.hero-image-section .hero-image {
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .hero-image-section #hero-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 900px) {
  .hero-image-section #hero-mobile {
    display: none !important;
  }
}

.hero-cta-section {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 900px) {
  .hero-cta-section {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: start;
    width: 60%;
    max-width: 700px;
  }
}
.hero-cta-section .cta-header:after {
  content: " remote work";
}
@media only screen and (min-width: 900px) {
  .hero-cta-section .cta-header:after {
    display: block;
  }
}
.hero-cta-section .cta-content {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media only screen and (min-width: 900px) {
  .hero-cta-section .cta-content {
    margin-top: 2.5em;
    max-width: 65%;
    font-size: 18px;
  }
}
.hero-cta-section .client-logo-container {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
@media only screen and (min-width: 900px) {
  .hero-cta-section .client-logo-container .client-logo {
    margin-right: 2em;
  }
}

.overlay.active {
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  position: fixed;
  background-color: #060606;
  transition: 1s;
}

.card {
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 10px;
  box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 1.5em;
}

button {
  cursor: pointer;
  border: none;
  width: 120px;
  height: 46px;
  border-radius: 12px;
}

.cta-button {
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  font-weight: 700;
  width: 150px;
  margin: 1em 1em 3em 1em;
}
@media only screen and (min-width: 900px) {
  .cta-button {
    margin: 1.5rem 0 7rem 0;
  }
}

.user-button {
  height: 40px;
  min-width: 100%;
  background-color: hsl(0deg, 0%, 98%);
  font-size: 14px;
  color: hsl(0deg, 0%, 41%);
}

.register {
  border: 1px solid hsl(0deg, 0%, 8%);
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-color: hsl(0deg, 0%, 98%);
  z-index: 1;
}
@media only screen and (min-width: 900px) {
  .menu-toggle {
    display: none !important;
  }
}/*# sourceMappingURL=index.css.map */