body {
  background-color: $neutralClrWhite;
}

a {
  text-decoration: none;
  color: $neutralClrGrey;
  &:hover {
    color: $neutralClrBlack;
  }
}

main {
  @include breakpoint(tablet, min-width) {
    @include flexContainer(row-reverse, space-evenly, stretch);
    padding: 4em;
  }
}
