button {
  cursor: pointer;
  border: none;
  width: 120px;
  height: 46px;
  border-radius: 12px;
  &:hover {
    color: $neutralClrBlack;
    background-color: $neutralClrWhite;
    border: 1px solid $neutralClrBlack;
  }
}

.cta-button {
  background-color: $neutralClrBlack;
  color: $neutralClrWhite;
  font-weight: $fontWeightBold;
  width: 150px;
  margin: 1em 1em 3em 1em;
  @include breakpoint(tablet, min-width) {
    margin: 1.5rem 0 7rem 0;
    height: 56px;
  }
}

.user-button {
  height: 40px;
  min-width: 100%;
  background-color: $neutralClrWhite;
  font-size: $fontXSmall;
  color: $neutralClrGrey;
}
.register {
  border: 1px solid $neutralClrGrey;
}

.login,
.menu-toggle {
  &:hover {
    border: none;
  }
}

.menu-toggle {
  @include screenOnly(mobile);
  width: 40px;
  height: 40px;
  background-color: $neutralClrWhite;
  z-index: 1;
}
