button {
  cursor: pointer;
  border: none;
  width: 120px;
  height: 46px;
  border-radius: 12px;
}

.cta-button {
  background-color: $neutralClrBlack;
  color: $neutralClrWhite;
  font-weight: $fontWeightBold;
  width: 150px;
  margin: 1em;
}

.user-button {
  height: 40px;
  min-width: 100%;
  background-color: $neutralClrWhite;
  font-size: $fontXSmall;
  color: $neutralClrGrey;
}
.register {
  border: 1px solid $neutralClrBlack;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-color: $neutralClrWhite;
  z-index: 1;
  @include breakpoint(tablet, min-width) {
    display: none;
  }
}
